/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,700;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scroll-margin-top {
    scroll-margin-top: 100px;
  }
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
